In [1]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 2. find url and store it in a variable
url = "https://www.billboard.com/charts/hot-100/"

# 3. download html with a get request
response = requests.get(url)
response.status_code # 200 status code means OK!

# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# 5. retrieve/extract the desired info
#soup.select("#title-of-a-story")[3].get_text()
#soup.select(".a-font-primary-s")[2].get_text()
#print(soup.select("#title-of-a-story"))
#print(soup.select("#title-of-a-story")[3].get_text())

#for p in soup.select("#title-of-a-story")[3:103]:
#    print(p.get_text())

## Building the dataframe

In [69]:
#initialize empty lists
title = []
artist = []
index = []

# iterate through the result set and retrive all the data, strip newline characters
for i in range(3,103):
    title.append(soup.select("#title-of-a-story")[i].get_text().strip())
for i in range(2,102):
    artist.append(soup.select(".a-font-primary-s")[i].get_text().strip())
for i in range(0,100):
    index.append(i+1)

In [70]:
#lower-case all artists & titles
for i in range(0,100):
    artist[i] = artist[i].lower()
    title[i] = title[i].lower()

In [72]:
# each list becomes a column
top100 = pd.DataFrame({"chart_position":index,
                       "artist":artist,
                       "title":title
                      })
#top100 = top100.replace(r'\n','', regex=True)

In [73]:
top100

,chart_position,artist,title
0,1,taylor swift,all too well (taylor's version)
1,2,adele,easy on me
2,3,the kid laroi & justin bieber,stay
3,4,lil nas x & jack harlow,industry baby
4,5,silk sonic (bruno mars & anderson .paak),smokin out the window
...,...,...,...
95,96,swedish house mafia & the weeknd,moth to a flame
96,97,cody johnson,'til you can't
97,98,doja cat,woman
98,99,the weeknd,take my breath
99,100,giveon,for tonight

In [90]:
#user inputs a song title
import random
def title_input():
    print('Enter a song title:')
    x = input().lower()
    #if song title is hot (=in dataframe): recommend another song from dataframe(randomly chosen)
    if x in top100['title'].unique(): 
        num = random.randint(1, 100)
        print('You entered the song title "' + x + '". The song is in the hot list, we recommend you also listen to the following:\n' + ((top100['title'][num]) + ' by ' + (top100['artist'][num])))   
    else: 
        #if song is not in top 100: return "Unfortunately, the song is not in the hot list!"
        print('You entered the song title "' + x + '". Unfortunately, the song is not in the hot list!')

title_input()

Enter a song title:
woman
You entered the song title "woman". The song is in the hot list, we recommend you also listen to the following:
who want smoke?? by nardo wick featuring g herbo, lil durk & 21 savage

In [94]:
"Adele" in top100.values #true
"Adele" in top100['artist'].unique() #true
"Adele" in top100['artist'] #false, why???

0                                 taylor swift
1                                        adele
2                the kid laroi & justin bieber
3                      lil nas x & jack harlow
4     silk sonic (bruno mars & anderson .paak)
                        ...
95            swedish house mafia & the weeknd
96                                cody johnson
97                                    doja cat
98                                  the weeknd
99                                      giveon
Name: artist, Length: 100, dtype: object

In [27]:
#write to csv

with open('top100.csv', 'w') as f:
        top100.to_csv(f, header= True, index=False)